html, body {
    height: 100%;
    /*background-image: url('/images/background.png');*/
    background-repeat: repeat;
}

div[data-role='content'] {
    margin-top: 50px;
}

.page_title {
    line-height: 1.7em;
    font-weight: bold;
    font-size: 1.25em;
    color: #fff;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
    width: 100%;
}

.btn-google {
    background-color: #d34836;
    color: #fff;
    width: 100%;
}

.avatar {
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
}

.v-space {
    height: 50px;
}

.v-space-half {
    height: 25px;
}

button {
    width: 100%;
}