html, body {
    height: 100%;
    background-image: url('/images/background.png');
    background-repeat: repeat;
}

div[data-role='content'] {
    min-height: 100%;
    margin-bottom: -4em;
}

div[data-role='content']:after {
    content: '';
    display: block;
}

div[data-role='footer'], div[data-role='content']:after {
    height: 4em;
}

div[data-role='footer'] {
    background: rgba(208, 208, 208, 0.5);
    padding: 1em;
}

.navbar {
    padding: .5em;
    background: rgba(208, 208, 208, 0.5);
}

.page_title {
    line-height: 2em;
    font-weight: bold;
    font-size: 1.25em;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
    width: 100%;
}

.btn-google {
    background-color: #d34836;
    color: #fff;
    width: 100%;
}

.btn-twitter {
    background-color: #00aced;
    color: #fff;
    width: 100%;
}